[submodule "puppet/openerp"]
	path = puppet/openerp
	url = https://github.com/camptocamp/puppet-openerp.git
[submodule "puppet/postgresql"]
	path = puppet/postgresql
	url = https://github.com/camptocamp/puppet-postgresql.git
[submodule "puppet/bazaar"]
	path = puppet/bazaar
	url = https://github.com/camptocamp/puppet-bazaar.git
[submodule "puppet/buildenv"]
	path = puppet/buildenv
	url = https://github.com/camptocamp/puppet-buildenv.git
[submodule "puppet/python"]
	path = puppet/python
	url = https://github.com/camptocamp/puppet-python.git
