[options]
; This is the password that allows database operations:
admin_passwd = {{ OE_SUPERADMIN }}
db_host = False
db_port = False
db_user = {{ OE_USER }}
db_password = False
logfile = /var/log/odoo/{{ OE_USER }}/{{ OE_CONFIG }}.log
addons_path={{ OE_HOME_EXT }}/addons,{{ OE_HOME }}/custom/addons
